SQLAlchemy==2.0.*
pymysql==1.1.*
redis==7.1.*
Flask==3.1.*
pyexiftool==0.5.*
waitress==3.0.*
markdown-it-py==4.0.*
beautifulsoup4==4.14.*
mdit_py_plugins==0.5.*
linkify-it-py==2.0.*
scikit-learn==1.8.*
python-memcached==1.62
pyjwt==2.11.*
