SQLAlchemy==2.0.*
redis==5.0.*
pyjwt==2.9.*
pymysql==1.1.*
gevent==24.2.*
Flask==3.0.*
pyexiftool==0.4.*
beautifulsoup4==4.12.3
markdown-it-py==3.0.0
mdit_py_plugins==0.4.2
linkify-it-py==2.0.3
scikit-learn==1.3.*
